# Ignore Node modules everywhere
**/node_modules/

# Ignore all env files
**/.env

# Ignore VSCode settings
**/.vscode/

# Ignore logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# macOS system file
.DS_Store
